@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,200;9..40,300;9..40,400;9..40,500;9..40,600;9..40,700&family=Poppins:wght@200;300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'DM Sans', sans-serif;
    box-sizing: border-box;
    color: white;
}

body {
    background-color: black;
}

.left-section {
    width: 371.801px;
    height: 100vh;
    position: fixed;
    top: 0;
    flex-shrink: 0;
    padding-left: 2rem;
}

.left-section>img {
    margin-block: 0.6rem;
    height: 3rem;
}

.left-opt-top {
    margin-top: 1rem;
    margin-bottom: 1.5rem;
}

.left-opt-top>div,
.left-opt-mid>div {
    display: flex;
    align-items: center;
    margin-bottom: 0.3rem;
    padding: 5px 20px;
    border-radius: 6px;
    cursor: pointer;
}

.icon-div {
    width: 29.645px;
    height: 32.116px;
    flex-shrink: 0;
    margin-right: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.left-opt-top>div>img {
    width: 29.645px;
    height: 32.116px;
    flex-shrink: 0;
    margin-right: 1.5rem;
}

.nav-link:hover {
    background: #282828;
    border-radius: 6px;
}

.left-opt-bottom {
    margin-block: 2rem;
}

.left-opt-bottom>h5 {
    padding: 5px 20px;
    border-radius: 6px;
    margin-bottom: 5px;
}

.install-app {
    display: flex;
    padding: 5px 20px;
}

.install-app>img {
    margin-right: 1.5rem;
    height: 1.3rem;
}

/* main body */
.main-body {
    width: 100%;
    position: absolute;
    top: 0;
    left: 371.801px;
    padding-right: 8rem;
    overflow-y: auto;
    background: linear-gradient(180deg, #90AEA7 0%, #000 100%);
}
.upper-div {
    padding-bottom: 10rem;
    padding-top: 5rem;
    width: 100%;
    display: flex;
    align-items: end;
}
.upper-div>div>h1 {
    font-size: 70px;
    font-weight: 800;
}
.upper-div>div {
    margin-bottom: 2.1rem;
}
.library-songs-div {
    margin-top: -10rem;
    background-color: transparent;
}
.library-songs-div{
    position: relative;
    z-index: 2;
}
.library-icons {
    padding-left: 1rem;
    display: flex;
    gap: 1rem;
}
.library-icons>div {
    height: 55px;
    width: 55px;
    background-color: rgb(29, 185, 84, 1);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* song */
.heading {
    display: flex;
}
.playing-song {
    display: flex;
    width: 60vw;
}
.playing-songs {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    gap: 1rem;
}
.song-info {
    display: flex;
    flex-direction: column;
    margin-right: 20rem;
}
.playing-song>h6 {
    margin-inline: 1rem;
}
.playing-song>.icon {
    margin-inline: 1rem;
}
.playing-song>.img {
    margin-right: 1rem;
}

.main-body>h2 {
    margin-top: 1.2rem;
    margin-bottom: 1rem;
}

.main-body>h3 {
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.my-playlists {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.playlist {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 20vw;
    /* min-width: 20rem; */
    border-radius: 4px;
    background: #303030;
}

.img-container {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1rem;
}

.img-container>img {
    object-fit: cover;
}

.main-body-top {
    display: flex;
    justify-content: space-between;
}

.arrows {
    display: flex;
    justify-content: space-between;
    width: 5rem;
}

.arrows>div {
    background-color: #131313;
    border-radius: 50%;
    height: 2rem;
    width: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile {
    display: flex;
    align-items: center;
    gap: 5px;
    border-radius: 33px;
    background: #0A0A0A;
    width: fit-content;
    padding: 1px 7px;
}

.songs {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.song {
    width: 15vw;
    background: #181818;
    border-radius: 5px;
    /* min-width: 10rem; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 20px;
    padding-inline: 10px;
    cursor: pointer;

}

.song:hover {
    background-color: #2f2f2f;
}

.song>h4 {
    color: #FFF;
    font-family: DM Sans;
    font-size: 21px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.42px;
    font-size: 1.2rem;
    margin-top: 12px;
}

.song>p {
    color: #B3B3B3;
    font-family: DM Sans;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.15px;
}

.player-div {
    position: fixed;
    bottom: 0;
    height: 112px;
    padding: 0.5rem;
    width: 100%;
    display: flex;
    align-items: center;
    background: #181818;
}
body::-webkit-scrollbar{
    display: none;
}
.main-body::-webkit-scrollbar{
    width: 10px;
    /* color: blue; */
}
.main-body::-webkit-scrollbar-thumb{
    background-color: rgba(255, 255, 255, 0.112);
}
.main-body::-webkit-scrollbar-thumb:hover{
    background-color: rgba(255, 255, 255, 0.466);
}

.left {
    left: 0;
    display: flex;
    gap: 1rem;
}
.left>div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}
.mid {
    margin: auto;
}
.icons {
    width: 50%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}
.right {
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}


@media screen and (max-width:768px){
    .left-section>img, .left-opt-top>div>h5, .left-opt-mid>div>h5, .left-opt-bottom, .install-app {
        display: none;
    }
    .left-section {
        width: max-content;
        padding: 0;
    }
    .main-body {
        left: 4rem;
        height: 100rem;
        border-radius: 4px;
        padding: 1rem;
    }
    .my-playlists {
        width: 70vw;
    }
    .playlist {
        width: 100%;
    }
    .songs {
        width: 96%;
        justify-content: center;
    }
    .song {
        width: 32vw;
        /* background-color: blue; */
    }
    .player-div {
        display: flex;
        flex-direction: column;
        width: 100vw;
        justify-content: center;
        align-items: center;
        margin: 0;
        height: 90px;
    }
    .line {
        display: none;
    }
    .mid {
        margin: 0;
    }
    .left, .right {
        display: none;
    }
    .icons {
        width: 100%;
    }
}